<div class="row">
      <div align="right" class="col-md-6">
<fusioncharts
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource">
</fusioncharts>
</div>
<div class="col-md-6">
<fusioncharts
   [width]="width2"
   [height]="height2"
   [type]="type2"
   [dataFormat]="dataFormat2"
   [dataSource]="dataSource2">
</fusioncharts>
</div>
</div>
<div align="center">
<fusioncharts
    [width]="width1"
    [height]="height1"
    [type]="type1"
    [dataFormat]="dataFormat1"
    [dataSource]="dataSource1">
</fusioncharts>
</div>