<!--update modal -->

<div class="dialog" [hidden]="updatePage">
  <div class="modal-dialog modal-sm login-cls pt10">
    <form [formGroup]="updateUser">
      <div class="modal-content">
        <div class="panel panel-default" style="margin-bottom: 0px;">

          <div class="panel-body" style="min-height: 400px;">
            <button type="button" class="close" data-dismiss="modal" (click)="hideUpdateModal()">&times;</button>

            <p style="border-bottom: 1px solid #d3d3d3; padding-bottom: 5px;">
              <b>Update User Info</b>
            </p>
            <div class="clearfix mtx20"></div>
            <input type="hidden" #userKey formControlName="userKey" />
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">First Nmae</label>
              </div>

              <div class="col-md-7">

                <input class="form-control rdc2" #UserFName formControlName="UserFName" />
              </div>

            </div>
            <!-- <div class="row ">
                          <div class="col-md-5">
                              <label class="form-control-static txtlabel">Middle Name</label>
                          </div>
                          <div class="col-md-7">

                              <input class="form-control rdc2" #UserMName formControlName="UserMName" />
                          </div>
                        
                      </div> -->
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Last Name</label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #UserLName formControlName="UserLName" />
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Email</label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #Useremail formControlName="Useremail" />
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Gender</label>
              </div>
              <div class="col-md-7">

                <!-- <input class="form-control rdc2" #gender formControlName="gender" /> -->
                <select class="form-control selectcontrol" #gender  formControlName="gender">
                                   
                    <option ng-value="male">male</option>
                    <option ng-value="female">female</option>
                </select>
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Mobile</label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #mobile formControlName="mobile" />
              </div>

            </div>

          </div>
        </div>
        <div style="background-color: #34495e" (click)="updateUserInfo(updateUser)">
          <button id="testbutton" class="btn btn-theme btn-lg btn-block" style="border-radius:0px;background-color: #34495e">Save </button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="overlay" [hidden]="modal_opened"></div>

<!--update modal -->

<div style="width: 100%;
float: left;">
  <b class="theme-color pull-left"> Client </b>
</div>
<div class="">

  <div class="col-md-4">

    <form [formGroup]="searchByName">
      <!-- <fieldset ng-disabled="disabled"> -->





      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-control-static txtlabel">First Name</label>
          <input class="form-control rdc2" name="Email" #searchFname formControlName="searchFname" type="text" />
          <!--[readonly]="true" -->
          <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
                    <p>Please enter a valid name.</p>
                </div>-->
        </div>
        <div class="col-md-6">
          <label class="form-control-static txtlabel">Last Name</label>
          <input class="form-control rdc2" name="Email" #searchLname formControlName="searchLname" type="text" />
          <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
                    <p>Please enter a valid name.</p>
                </div>-->
        </div>



      </div>

      <div class="row mtx20">

        <div class="col-md-12">
          <button type="button" class="btn btn-theme  btn-lg btn-block" (click)="searchName(searchFname.value,searchLname.value);">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <form [formGroup]="searchByEmail">
      <!-- <fieldset ng-disabled="disabled"> -->


      <div class="row">


        <div class="col-md-12">
          <label class="form-control-static txtlabel">Email </label>
          <input class="form-control rdc2" #email formControlName="email" />
          <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerEmail.valid  && model.controls.partnerEmail.dirty">
                    <p>Please enter a valid email.</p>
                </div>-->
        </div>
      </div>


      <div class="row mtx20">

        <div class="col-md-12">


          <button type="button" class="btn btn-theme  btn-lg btn-block" (click)="searchEmail(email.value);">Search</button>
        </div>
      </div>

    </form>
  </div>



  <!--from date to date-->


  <div class="col-md-4">
    <div class="row ">
      <form [formGroup]="searchpartner">

        <div role="tabpanel" class="active" id="home" style="padding: 0px 9px;">


          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-6">
              <label class="form-control-static txtlabel">From Date</label>
              <input class="form-control rdc2" name="fromdate" #partnerfDate formControlName="partnerfDate" type="date" />

            </div>
            <div class="col-md-6">
              <label class="form-control-static txtlabel">To Date</label>
              <input class="form-control rdc2" name="todate" #partnertDate formControlName="partnertDate" type="date" />

            </div>

          </div>


          <div class="row mtx20">

            <div class="col-md-12">


              <button type="button" class="btn btn-theme  btn-lg btn-block" (click)="searchByDate(partnerfDate.value,partnertDate.value)">Search</button>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>

<!--Data table -->
<div class="clearfix"></div>
<div align='center' style="margin-top: 30px; color: #b11616;" class="col-md-12" [hidden]="not_found">
  <h1>No Data Found! </h1>
 </div>
<div style="margin-top: 35px;">

  <div class="col-md-12" [hidden]="userTable">
    <div class="row" *ngIf="customerKey?.length == 0">
      <i style="display:block;margin: 0 auto;" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <div style="position:absolute;top: -20px;right: 15px;font-weight: 800;z-index: 999">
      <button type="button" class="close" data-dismiss="modal" (click)="hideTable()">
        <i class="fa fa-times-circle"></i>
      </button>
    </div>

    <div class="clearfix"></div>
    
    <div style="position:relative">


      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="DataTables">
        <thead>
          <tr>
            <!-- <th>Created At</th> -->
            <th>FirstName</th>

            <th>LastName</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Booking</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of customerKey">

            <!-- <td>{{users[user].createdAt}}</td> -->
            <!-- <td>{{users[user].MiddleName}}</td> -->
            <td>{{users[user].partnerFirstName}}</td>
            <td>{{users[user].partnerLastName}}</td>
            <td>{{users[user].partnerEmail}}</td>
            <td>{{users[user].partnerGender}}</td>
            <td>{{users[user].partnerPhone}}</td>
            <td>
              <button class="btn btn-success" (click)="findbooking(user,users[user].uid)">View Booking</button>
            </td>
            <td>
              <button class="btn btn-warning" (click)="showUpdateModal(user,users[user].partnerFirstName,users[user].partnerLastName,users[user].partnerEmail,users[user].partnerGender,users[user].partnerPhone)">Edit</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Data table -->
<!-- Booking Data Table -->
<div class="row">
  <div class="col-md-12" [hidden]="bookingTable">

    <div style="position:relative">
      <!-- <div style="position:absolute;top: 5px;right: 5px; font-weight: 800;">
        <button type="button" class="close" data-dismiss="modal" (click)="hideTable()"><i class="fa fa-times-circle"></i></button></div> -->
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th>Created At</th> -->
            <th>Name</th>

            <th>Key</th>
            <th>Date</th>
            <th>Time</th>
            <th>Note</th>
            <th>Service</th>
            <th>Stage</th>
            <th>Total Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of booking_result">

            <td>{{bookings[booking].customerName}}</td>
            <td>{{booking}}</td>
            <td>{{bookings[booking].bookingSchedule.date}}</td>
            <td>{{bookings[booking].bookingSchedule.time}}</td>
            <td>{{bookings[booking].notes}}</td>
            <td>{{bookings[booking].services[0].serviceName}}</td>
            <td>{{bookings[booking].stage}}</td>
            <td>{{bookings[booking].totalAmount}}</td>
            <td></td>
            <td>
              <button class="btn btn-warning" *ngIf="!(bookings[booking].stage === 'completed' || bookings[booking].stage === 'cancel')"  (click)="showUpdateBookingModal(booking,bookings[booking].customerName,bookings[booking].bookingSchedule.date,bookings[booking].bookingSchedule.time,bookings[booking].notes,bookings[booking].services[0].serviceName,bookings[booking].services[0].speciality,bookings[booking].stage,bookings[booking].totalAmount)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Update Bookings -->
<div class="dialog" [hidden]="updateBooking">
  <div class="modal-dialog modal-sm login-cls pt10">
    <form [formGroup]="updateBookingData">
      <div class="modal-content">
        <div class="panel panel-default" style="margin-bottom: 0px;">

          <div class="panel-body" style="min-height: 400px;">
            <button type="button" class="close" data-dismiss="modal" (click)="hideUpdateBookingModal()">&times;</button>

            <p style="border-bottom: 1px solid #d3d3d3; padding-bottom: 5px;">
              <b>Update Booking Info</b>
            </p>
            <div class="clearfix mtx20"></div>
            <input type="hidden" #booking formControlName="booking" />
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Customer Name</label>
              </div>

              <div class="col-md-7">

                <input class="form-control rdc2" #customername formControlName="customername" readonly/>
              </div>

            </div>
            <!-- <div class="row ">
                            <div class="col-md-5">
                                <label class="form-control-static txtlabel">Middle Name</label>
                            </div>
                            <div class="col-md-7">
  
                                <input class="form-control rdc2" #UserMName formControlName="UserMName" />
                            </div>
                          
                        </div> -->
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Date</label>
              </div>
              <div class="col-md-7">

                <input type="date" class="form-control rdc2" #date formControlName="date" />
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Time</label>
              </div>
              <div class="col-md-7">

                <input type="time" class="form-control rdc2" #time formControlName="time" />
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Note</label>
              </div>
              <div class="col-md-7">

                <textarea class="form-control ng-untouched ng-pristine ng-valid" cols="10" rows="3" formControlName="note"></textarea>
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Stage</label>
              </div>
              <div class="col-md-7">

                <select class="form-control selectcontrol" formControlName="stage">

                  <option ng-value="pending">pending</option>
                  <option ng-value="completed">completed</option>
                  <option ng-value="end">end</option>


                </select>

              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Service</label>
              </div>

              <div class="col-md-7">

                <input class="form-control rdc2" #serviceName formControlName="serviceName" readonly/>
              </div>

            </div>
            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Speciality</label>
              </div>

              <div class="col-md-7">

                <input class="form-control rdc2" #speciality formControlName="speciality" readonly/>
              </div>

            </div>

          </div>
        </div>
        <div style="background-color: #34495e" (click)="updateBookingInfo(updateBookingData)">
          <button id="testbutton" class="btn btn-theme btn-lg btn-block" style="border-radius:0px;background-color: #34495e">Save </button>
        </div>
        <div style="background-color: #34495e" (click)="cancelBooking(booking.value)">
          <button id="testbutton" class="btn btn-danger btn-lg btn-block" style="border-radius:0px;background-color: #34495e">Cancel Booking </button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="overlay" [hidden]="modal_opened"></div>