<div class="dialog" [hidden]="adressPage">
  <div class="modal-dialog modal-sm login-cls pt10">
    <form [formGroup]="address">
      <div class="modal-content">
        <div class="panel panel-default" style="margin-bottom: 0px;">

          <div class="panel-body" style="min-height: 400px;">
            <button type="button" class="close" data-dismiss="modal" (click)="hideAddressModal()">&times;</button>

            <p style="border-bottom: 1px solid #d3d3d3; padding-bottom: 5px;">
              <b>View Location </b>
            </p>
            <div class="clearfix mtx20"></div>

            <div class="row ">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Name </label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #name formControlName="name" />
              </div>
              <!-- <div class="col-md-12">
															<div class=" alert-danger" *ngIf="!address.controls.name.valid  && address.controls.name.dirty">
																	<p>Please enter a valid name.</p>
															</div>
													</div> -->
            </div>

            <div class="row mt10">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Addresss Line 1 </label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #address1 formControlName="address1" />
              </div>
              <!-- <div class="col-md-12">
															<div class=" alert-danger" *ngIf="!address.controls.address1.valid  && address.controls.address1.dirty">
																	<p>Please enter a valid address.</p>
															</div>
													</div> -->
            </div>

            <div class="row mt10">
              <div class="col-md-5">
                <label class="form-control-static txtlabel">Addresss Line 2 </label>
              </div>
              <div class="col-md-7">

                <input class="form-control rdc2" #address2 formControlName="address2" />
              </div>

            </div>

            <div class="row mt10">
              <div class="col-md-2">
                <label class="form-control-static txtlabel">Zip</label>
              </div>
              <div class="col-md-4">
                <input class="form-control rdc2" #zip formControlName="zip" />
              </div>
              <!-- <div class="col-md-12">
															<div class="alert-danger" *ngIf="!address.controls.zip.valid  && address.controls.zip.dirty">
																	<p>Please enter a valid zip code.</p>
															</div>
													</div> -->
            </div>

            <div class="row mt10">
              <div class="col-md-2">
                <label class="form-control-static txtlabel">City </label>
              </div>
              <div class="col-md-4">

                <input class="form-control rdc2" #city formControlName="city" />
              </div>
              <div class="col-md-2">
                <label class="form-control-static txtlabel">State </label>
              </div>
              <div class="col-md-4">

                <input class="form-control rdc2" #state formControlName="state" />
              </div>
              <!-- <div class="col-md-6 pull-right">
															<div class="alert-danger" *ngIf="!address.controls.state.valid  && address.controls.state.dirty">
																	<p>Please enter a valid state.</p>
															</div>
													</div>
													<div class="col-md-6 pull-left">
															<div class="alert-danger" *ngIf="!address.controls.city.valid  && address.controls.city.dirty">
																	<p>Please enter a valid city.</p>
															</div>
													</div> -->

            </div>




          </div>
        </div>
        <div style="background-color: #34495e" (click)="addAddress(address)" *ngIf="!address.index">
          <button [disabled]="!address.valid" id="testbutton" class="btn btn-theme btn-lg btn-block" style="border-radius:0px;background-color: #34495e">Save </button>
        </div>
        <!--<div style="background-color: #34495e" (click)="saveUpdatedAddress(address)" *ngIf="address.index"><button [disabled]="!address.valid" class="btn btn-theme btn-lg btn-block" style="border-radius:0px;background-color: #34495e">Edit  </button> </div>
							<div style="background-color: #f44336" *ngIf="address.index" (click)="removeAddress(address.index)"><button [disabled]="!address.valid" class="btn btn-danger form-control btn-block" style="border-radius:0px;background-color: #f44336 ">Remove  </button> </div>-->

      </div>
    </form>
  </div>
  <!--button (click)="close()" aria-label="Close" class="dialog__close-btn">X</button-->
</div>
<div class="overlay" [hidden]="modal_opened"></div>


<div class="" style="height:100%">
  <div class="row prl10" style="height:100%">

    <div class="col-md-3">
    </div>

    <div class="col-md-6 aboutright" style="background-color: #edf0f3;">


      <div class="row ">

        <div class="tab-content" style="padding: 6%">
          <div role="tabpanel" class="tab-pane active" id="home">

            <form [formGroup]="search">
              <!-- <fieldset ng-disabled="disabled"> -->
              <div class="panel panel-default mb10" style="margin-bottom: 0px;">
                <div class="panel-heading " style="padding: 20px 10px  30px 10px;">
                  <b class="theme-color pull-left"> Client </b>


                </div>
                <div class="panel-body">

                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-control-static txtlabel">First Name</label>
                      <input class="form-control rdc2" name="Email" #searchFname formControlName="searchFname" type="text" />
                      <!--[readonly]="true" -->
                      <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
                    <p>Please enter a valid name.</p>
                </div>-->
                    </div>
                    <div class="col-md-3">
                      <label class="form-control-static txtlabel">Last Name</label>
                      <input class="form-control rdc2" name="Email" #searchLname formControlName="searchLname" type="text" />
                      <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
                    <p>Please enter a valid name.</p>
                </div>-->
                    </div>

                    <div class="col-md-1" style="padding: 18px 0px; text-align: center;color: #000;font-weight: bold;">OR</div>
                    <div class="col-md-5">
                      <label class="form-control-static txtlabel">Email </label>
                      <input class="form-control rdc2" #searchEmail formControlName="searchEmail" />
                      <!--<div class="alert alert-danger" *ngIf="!model.controls.partnerEmail.valid  && model.controls.partnerEmail.dirty">
                  <p>Please enter a valid email.</p>
              </div>-->
                    </div>
                  </div>



                </div>

              </div>

              <div class="row mtx20">

                <div class="col-md-12">
                  <div class="alert alert-danger" *ngIf="error">
                    <strong>Error!</strong> {{error}}
                  </div>

                  <button type="button" class="btn btn-theme  btn-lg btn-block" (click)="findEmail(searchEmail.value)">Submit</button>
                </div>
              </div>
            </form>
            <form [formGroup]="model">
              <div class="panel panel-default mb10 mtx20" style="margin-bottom: 0px;">
                <!-- <div class="panel-heading " style="padding: 20px 10px  30px 10px;">
															<b class="theme-color pull-left"> Client   </b>


													</div> -->
                <div class="panel-body">
                  <fieldset [disabled]="is_readonly">
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">First Name</label>
                        <input class="form-control rdc2" name="Email" #partnerFName formControlName="partnerFName" type="text" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
																						<p>Please enter a valid name.</p>
																				</div> -->
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">Gender </label>
                        <select class="form-control rdc2" #partnerGender formControlName="partnerGender">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="transgender">Transgender</option>
                        </select>
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerGender.valid  && model.controls.partnerGender.dirty">
																					<p>Please enter a valid gender.</p>
																			</div> -->
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">Middle Name</label>
                        <input class="form-control rdc2" #partnerMName formControlName="partnerMName" type="text" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
																					<p>Please enter a valid name.</p>
																			</div> -->
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">Last Name</label>
                        <input class="form-control rdc2" name="Email" #partnerLName formControlName="partnerLName" type="text" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerName.valid  && model.controls.partnerName.dirty">
																						<p>Please enter a valid name.</p>
																				</div> -->
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-12">
                        <label class="form-control-static txtlabel">Date of Birth </label>
                        <input class="form-control rdc2" #partnerDob formControlName="partnerDob" type="date" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerEmail.valid  && model.controls.partnerEmail.dirty">
																							<p>Please enter a valid DOB.</p>
																					</div> -->
                      </div>

                    </div>

                    <div class="row">

                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">Email </label>
                        <input class="form-control rdc2" #partnerEmail formControlName="partnerEmail" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerEmail.valid  && model.controls.partnerEmail.dirty">
																					<p>Please enter a valid email.</p>
																			</div> -->
                      </div>
                      <div class="col-md-6">
                        <label class="form-control-static txtlabel">Mobile </label>
                        <input class="form-control rdc2" #partnerPhone formControlName="partnerPhone" />
                        <!-- <div class="alert alert-danger" *ngIf="!model.controls.partnerPhone.valid  && model.controls.partnerPhone.dirty">
																					<p>Please enter a valid phone number.</p>
																			</div> -->
                      </div>
                    </div>
                  </fieldset>

                  <div class="clearfix"></div>
                  <div class="panel-heading " style="padding: 20px 10px  30px 10px;">
                    <b class="theme-color pull-left"> Booking Details </b>


                  </div>
                </div>
              </div>




              <div class="panel panel-default mb10 mtx20" style="margin-bottom: 0px;" (click)="hideError()">
                <div class="panel-heading " style="padding: 20px 10px  30px 10px;">
                  <b class="theme-color pull-left"> Location </b>

                  <a class="pull-right" (click)="showAddress()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>

                </div>
                <div class="panel-body" style="height: 150px;overflow:auto;padding:0px">
                  <ul class="nav nav-pills nav-stacked">
                    <li *ngFor="let item_address of addresses; let i = index">
                      <a>
                        <i class="fa fa-edit pull-right" aria-hidden="true" style="font-size: 20px;" (click)="showUpdateAddress();updateAddress(i+1,item_address)"></i> {{item_address.name}}
                      </a>
                    </li>


                  </ul>
                  <div class="clearfix"></div>

                </div>
              </div>


              <div class="row mtx20">

                <div class="col-md-12">
                  <div class="alert alert-danger" *ngIf="error">
                    <strong>Error!</strong> {{error}}
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary  btn-lg btn-block no-border-radius" (click)="makeEditable()">Edit</button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-theme  btn-lg btn-block no-border-radius" (click)="signOut()">Save</button>
                  </div>
                </div>
              </div>
              <!-- </fieldset> -->
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div>{{datas[0].email}}</div> -->
