<!-- loader content start -->
<div class="dialog" [hidden]="loading">

    <div class="modal-dialog modal-sm login-cls pt10">

        <div class="modal-content spinner">
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
    </div>
</div>
<div class="overlay" [hidden]="loading"></div>

<!-- details modal -->
<div class="dialog" [hidden]="bookPage">
    <div class="modal-dialog modal-sm login-cls pt10">

        <div class="modal-content">
            <div class="panel panel-default" style="margin-bottom: 0px">
                <div class="panel-body" style="min-height: 400px;">

                    <button type="button" class="close" data-dismiss="modal" (click)="hideDetails()">&times;</button>
                    <div class="profile_pic pull-right">
                        <img src="{{profile_data.profilePicture}}" alt="..." class="img-circle profile_img1">
                    </div>
                    <p style="border-bottom: 1px solid #d3d3d3; padding-bottom: 5px;"> <b>{{profile_data.partnerName}}  </b>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </p>
                    <div class="clearfix"></div>
                    <div class="row ">
                        <div class="col-md-6">
                            <label class="form-control-static txtlabel">Service</label>
                            <select class="form-control selectcontrol" [(ngModel)]="details.category" (ngModelChange)="getSubCategories()">
                                <option *ngFor="let category of category_data" value="{{category}}">{{category}}</option>
                                
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-static txtlabel">Price</label>
                            <input class="form-control" [(ngModel)]="details.price" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-static txtlabel">Expertise</label>
                            <select class="form-control selectcontrol" [(ngModel)]="details.speciality" (ngModelChange)="getAmount(details.speciality)">
                                <option *ngFor="let category of sub_categories;let i=index" value="{{i}}">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 ">

                            <label class="form-control-static txtlabel"></label>
                            <button class="btn btn-theme btn-sm btn-block btnselect" (click)="addService()">Select</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <label class="form-control-static txtlabel">Selected Services</label>
                            <div class="grid1 mb10 column" style="padding: 0px; overflow-x:auto; height:133px;">


                                <ul class="nav nav-pills nav-stacked">
                                    <li *ngFor="let item_address of added_services; let i = index">
                                        <a> <i class="fa fa-times-circle-o pull-right" aria-hidden="true" style="font-size: 20px;" (click)="removeService(i)"></i> {{item_address.serviceName}}</a>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-static txtlabel">Schedule</label>
                            <input class="form-control" [(ngModel)]="details.myDate" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-static txtlabel">Time </label>
                            <input class="form-control" [(ngModel)]="details.myTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-static txtlabel">Address  </label>
                            <select class="form-control selectcontrol" [(ngModel)]="details.address">
                                <option *ngFor="let address of addresses;let i=index" value="{{i}}">{{address.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-static txtlabel">Notes  </label>
                            <textarea cols="10" rows="3" class="form-control" [(ngModel)]="details.notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #34495e" (click)="updateBooking(details)"><button class="btn btn-theme btn-lg btn-block" style="border-radius:0px"> <span class="pull-left">Book</span> <span class="pull-right">${{amount}}</span>     </button> </div>
        </div>
    </div>
    <!--button (click)="close()" aria-label="Close" class="dialog__close-btn">X</button-->
</div>
<div class="overlay" [hidden]="bookPage"></div>

<!-- details modal -->
<div id="divAccept" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm login-cls pt10">

        <div class="modal-content">


            <div class="panel panel-default" style="margin-bottom: 0px">
                <div class="panel-body" style="min-height: 400px;" *ngIf="booking_data.bookingSchedule">


                    <div class="clearfix mt10"></div>

                    <h4 class="pull-left" *ngFor="let service of booking_data.services">{{service.serviceName}} - {{service.speciality}}<br>
                    </h4>
                    <span class="pull-right txtlabel1 pt7"><b> {{booking_data.bookingSchedule.time}} </b>
                    <br /> {{booking_data.bookingSchedule.date}}</span>

                    <div class="clearfix mt10"></div>
                    <div class="row mt10">
                        <div class="col-md-12">
                            <p>
                                <span>{{booking_data.customerName}}</span><br>
                                <span> {{booking_data.customerAddress.address1}}</span><br>
                                <span> {{booking_data.customerAddress.address2}}</span><br>
                                <span> {{booking_data.customerAddress.city}},{{booking_data.customerAddress.state}},{{booking_data.customerAddress.zip}}</span>
                            </p>
                        </div>
                    </div>


                    <div class="row mt10">
                        <div class="col-md-12">
                            <p>
                                <span>Amount  </span> <br />
                                <span>{{booking_data.totalAmount}}</span>
                            </p>
                        </div>
                        <br>
                        <div class="col-md-12">

                            <p>
                                <span>Note  </span> <br />
                                <span>{{booking_data.notes}}</span>
                            </p>
                        </div>
                    </div>

                    <div class="row pt10">
                        <div class="modal-footer">

                        </div>
                        <div class="col-md-12 text-right" *ngIf="booking_data.stage=='pending' || booking_data.stage=='accept'">

                            <button class="btn btn-theme btn-sm mrx20" data-dismiss="modal" (click)="editBooking(booking_data);"> Edit     </button>

                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>
<!-- details modal end -->
<div class="">
    <div class="row prl10">

        <div class="col-md-3">
        </div>

        <div class="col-md-6 scrollable-div" style="background-color: #edf0f3;" [style.height.px]="viewHeight">


            <div class="row ">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active navtabswidth"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Upcoming</a></li>
                        <li role="presentation" class="navtabswidth"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Past</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <h4 style="text-align:center" *ngIf="upcomingBookingsList.length<1">No Upcoming Bookings</h4>

                            <!-- booking start -->
                            <div class="grid1 mb10" style="padding: 10px" *ngFor="let booking of upcomingBookingsList;let i=index">


                                <h4 class="pull-left theme-color">
                                    <span *ngFor="let service of booking.services"> {{service.serviceName}} - {{service.speciality}}<br/></span>
                                </h4>
                                <span class="pull-right txtlabel1 "><b> {{booking.times}} </b>  </span><br />
                                <span class="pull-right txtlabel1">{{booking.dates}}</span>

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <span>{{booking.customerName}}</span><br>
                                            <span> {{booking.customerAddress.address1}}</span><br>
                                            <span>{{booking.customerAddress.address2}}</span><br>
                                            <span>{{booking.customerAddress.city}},{{booking.customerAddress.state}},{{booking.customerAddress.zip}}</span>
                                        </p>
                                    </div>
                                </div>


                                <div class="row mb10" *ngIf="booking.stage=='pending'">
                                    <div class="col-md-12">


                                        <button class="btn btn-theme btn-sm pull-right" (click)="showBookingDetails(booking)" data-toggle="modal" data-target="#divAccept"> Details     </button>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <!-- booking end -->




                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                            <h4 style="text-align:center" *ngIf="pastBookingsList.length<1">No Past Items Found</h4>

                            <!-- booking start -->
                            <div class="grid1 mb10" style="padding: 10px" *ngFor="let booking of pastBookingsList;let i=index">


                                <h4 class="pull-left theme-color">
                                    <span *ngFor="let service of booking.services"> {{service.serviceName}} - {{service.speciality}}<br/></span>
                                </h4>
                                <span class="pull-right txtlabel1 "><b> {{booking.times}} </b>  </span><br />
                                <span class="pull-right txtlabel1">{{booking.dates}}</span>

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <span>{{booking.customerName}}</span><br>
                                            <span> {{booking.customerAddress.address1}}</span><br>
                                            <span>{{booking.customerAddress.address2}}</span><br>
                                            <span>{{booking.customerAddress.city}},{{booking.customerAddress.state}},{{booking.customerAddress.zip}}</span>
                                        </p>
                                    </div>
                                </div>
                                <p class="text text-left" style="margin:0px;margin-top:60px">
                                    <span class="font-weight-bold">Amount</span><br> {{booking_data.totalAmount}}
                                </p>


                                <div class="row mb10">
                                    <div class="col-md-12">


                                        <button class="btn btn-theme btn-sm pull-right" data-toggle="modal" data-target="#divAccept" (click)="showBookingDetails(booking)"> Details     </button>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <!-- booking end -->



                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>