<!-- loader content start -->
<div class="dialog" [hidden]="loader">

    <div class="modal-dialog modal-sm login-cls pt10">

        <div class="modal-content spinner">
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
    </div>
</div>
<div class="overlay" [hidden]="loader"></div>
<!-- loader content end -->
<!-- Banner -->
<div class="banner">
    <div class="container" style="padding-top: 10%">

        <div class="col-md-8">

            <div class="aitslogow3ls  pull-left">
                <a href="index.html">
                    <div class="agilelo go centerlogo" style="left: 0;">
                        <img src="assets/images/mbp.png" style="height:100%" />
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 aboutright">
            <form [formGroup]="rForm">
                <div class="panel panel-default" style="margin-bottom: 0px">
                    <div class="panel-heading  text-center" style="padding: 10px;">
                        <h3 class="theme-color bold1"> Signup </h3>
                    </div>
                    <div class="panel-body" style="min-height: 100%;">
                

                        <div style="padding-top:5% ">
                            <label class="mt10   control-label txtlabel1" style="margin-bottom: 15px;"><b> Email id</b></label>
                            <input type="email" class="form-control height50" #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!rForm.controls.email.valid && rForm.controls.email.dirty" />
                        </div>
                        <div class="danger" *ngIf="!rForm.controls.email.valid  && rForm.controls.email.dirty">
                            <p>Please enter a valid email.</p>
                        </div>
                        <div>
                            <label class="mt10   control-label txtlabel1" style="margin-bottom: 15px;"><b> Password 1 </b></label>
                            <input type="password" class="form-control height50" #password formControlName="password" type="password" placeholder="Your email address" [class.invalid]="!rForm.controls.password.valid && rForm.controls.password.dirty" />
                        </div>
                        <div class="danger" *ngIf="!rForm.controls.password.valid  && rForm.controls.password.dirty">
                            <p>Please enter a valid password.</p>
                        </div>
                        <br>
                        <div class="danger" *ngIf="error" style="font-size: 12px">
                            {{error}}
                        </div>
                    </div>
                </div>
                <div style="margin-top:-5px;">
                    <button [disabled]="!rForm.valid" class="btn btn-theme btn-lg btn-block" 
                    style="border-radius:0px;" (click)="signup()">Sign Up</button> </div>

                    

            </form>
        </div>
    </div>
</div>