<div class="">
    <div class="row prl10">

        <div class="col-md-12" style="text-align:left">
            <pre>
             <h4 style="font-weight:bold;text-align:center">PRIVACY POLICY</h4>
              At MobileStyler, we are committed to protecting the privacy and confidentiality of information about our customers, as well as the data provided to us by our customers. Our Privacy Policy applies to all information
            we receive from or about our customers, both online and in physical form. Our customers include: (1) “Users,” who are those third parties who use a MobileStyler app, website, phone line, or other means, to connect with those who provide services
            and products (collectively, “services”), such as personal appearance-related services and products; and, (2) “Providers,” who are those third parties who use MobileStyler to connect with the Users who would like to obtain the services and
            products which they provide to the public. Here, the term “customers” also includes prospective customers who are seeking to enter into a relationship with MobileStyler. MobileStyler does not provide any personal appearance services directly.
            MobileStyler acts to connect the providers of such services (“Providers”) with the consumers of such services (“Users”), and to facilitate an agreement between such parties for the provision of such services and goods at a mutually agreed
            price and at a mutually agreed date, time, and location. We help to schedule the services, and we process the payment for the services, as appropriate. We also provide “front desk” and “back office” services for some customers. This includes,
            but is not limited to, scheduling appointments and services for Providers in their own locations, such as salons, shops, etc. At MobileStyler, we do the following to protect the privacy of information, both online and offline: 1. Notify customers
            when we are requesting information from them, including the type of information we are requesting and the purpose for which that information will be used; 2. Strive to maintain accurate records of data provided by customers; 3. Use secure
            system technology, physical and electronic, to safeguard information from or about our customers; and, 4. MobileStyler does not sell your information to other companies. MobileStyler may collect information from or about our customers when
            someone initiates an online contact with MobileStyler or seeks to enter into a contract with MobileStyler. Information collected may include, but is not limited to, data, documents, images, sounds, etc., and any information needed to verify
            the identity of a customer, or to verify the validity of information provided. MobileStyler may use information about our customers for internal business purposes, such as billing, statistics, client services, fraud monitoring, and expanding
            and improving the products offered by MobileStyler. Additionally, we may use the information, including postal address and/or email address, to send you information and marketing material. You may opt out of receiving non-critical information
            by using the unsubscribe links contained therein.
            
            <h5 style="margin-left:5%;font-weight:bold">Disclosure of Information </h5>

            We may disclose any of the information we collect from or about you (as described above) to the following types of entities upon written request or as required by contract: (1) an affiliated or partner company, such as a data bureau; (2) an entity that
            has executed a service or product contract with MobileStyler for purposes of assisting MobileStyler in providing services to customers; or, (3) governmental or regulatory authorities, when required by law or business practice. We do not disclose
            the personal identity information or data you provide to us via our online software to any third party for any marketing purposes. We do not sell, trade, or distribute the information we collect from you or about you to outside vendors or
            third parties unrelated to the services provided by MobileStyler.

            <h5 style="margin-left:5%;font-weight:bold">Use of Cookies </h5>

            MobileStyler may use "cookie" technology in web sessions during which users access our software product site. The use of cookies, as described above, is limited to the creation of a trace identification number each time you sign on to the website, and
            such cookies expire within a short period of time after leaving the site.

            <h5 style="margin-left:5%;font-weight:bold">Conclusion</h5>

            Our Privacy Policy may be amended from time to time. Please check this site often to ensure you are accessing the most current version of the policy.
          </pre>


        </div>
    </div>
</div>